  <%= icon_button('trash', 'I am message',)%>
  <p> This is some body text </p>
  <p> Want to know how many cats there are?  Me too.  There are <%= pluralize('cat', 2) %>!  Isn't that exciting??
  <p> Check out this page <a href = "/about" > about </a> nothing! </p>
  <p> Check out <a href = "/plans-and-pricing" > plans and pricing! </a></p>
